! ------------------------------------------------------------------------------
! URxvt 
! ------------------------------------------------------------------------------



! general settings
URxvt*saveline:         15000
URxvt*termName:         xterm-256color
URxvt*urgentOnBell:     false
URxvt*visualBell:       false
URxvt*iso14755:         false
URxvt*iso14755_52:      false
URxvt*meta8:            false
URxvt*metaSendsEscape:  true

! appearance
URxvt*depth:             32
URxvt*background:	[90]#2E3440
URxvt*scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*internalBorder:    8
URxvt*externalBorder:    0

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! fonts
#define font1 DejaVu Sans Mono for Powerline
#define font2 DejaVuSansMono Nerd Font
URxvt*letterSpace: 	    		-2
URxvt*font:                 	xft:font2:regular:size=10
URxvt*imFont:               	xft:font2:regular:size=10
URxvt*boldFont:             	xft:font2:bold:size=10
URxvt*italicFont:           	xft:font2:italic:size=10
URxvt*boldItalicFont:     	xft:font2:regular:size=10
! run :.!fc-list | grep <font-name>

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font
!URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.M-c:       perl:clipboard:copy
URxvt*keysym.m-v:       perl:clipboard:paste
URxvt*keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      firefox
URxvt*underlineURLs:    true
URxvt*urlButton:        1
URxvt*geometry: 		90x30

! tabbed
URxvt*tabbed.tabbar-fg: 4
URxvt*tabbed.tabbar-bg: 16
URxvt*tabbed.tab-fg:    15
URxvt*tabbed.tab-bg:    4
URxvt*buffered:         false
URxvt*keysym.Control-Shift-C: perl:clipboard:copy
